<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    <h2>Escolha o Candidato</h2>
    <form action="/votacao" method="post">
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Candidato</th>
                    <th>Seleção</th>
                </tr>
            </thead>
            <tbody>
                {% for candidato in candidatos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ candidato['nome'] }}</td>
                    <td>
                        <input type="radio" id="candidato{{ loop.index }}" name="candidato" value="{{ candidato['nome'] }}" required>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Votar">
    </form>
</div>

    <footer>
        <p>© 2024 Sistema de Votação</p>
    </footer>
</body>
</html>